# Find all the element in a list which have been repeated eg. [1,2,3,1,3,4,5,6,4] repeated elements are : [1,3,4]

In [1]:
list1=[1,2,3,1,3,4,5,6,4]
list2=[]
frequency={}
count=0
for item in list1:
    if item in frequency:
        frequency[item]+=1
        list2.append(item)
    else:
        frequency[item]=1
print(frequency)
print(list2)

{1: 2, 2: 1, 3: 2, 4: 2, 5: 1, 6: 1}
[1, 3, 4]

The time complexity of above program O(n).

# Write a function to check if a given number is prime or not.

In [2]:
def check_prime(no):
    count =0
    for i in range(no):
        if (i==0 or i==1):
            continue
        else:
            if(no%i==0):
                count=count+1
    if(count==0):
        print("The given number is prime.")
    else:
        print("The given number is not prime.")

In [3]:
check_prime(4)

The given number is not prime.

In [4]:
check_prime(12)

The given number is not prime.

# Find the most similarity documents among 5 documents[ Document 1 , Document2, ... Documnet 5 ]

In [7]:
import numpy as np
document1=np.random.rand(124)
document2=np.random.rand(124)
document3=np.random.rand(124)
document4=np.random.rand(124)
document5=np.random.rand(124)
document=[document1,document2,document3,document4,document5]

In [10]:
num_documents=len(document)
min_distance=float('inf')
min_pair=(None,None)
for i in range(num_documents):
    for j in range(i+1,num_documents):
        distance=np.linalg.norm(document[i]-document[j])
        if (distance<min_distance):
            min_distance=distance
            min_pair=(i,j)

In [14]:
print(f"The minimum distance is between {min_pair} which is {min_distance}")

The minimum distance is between (2, 3) which is 3.865631344554448

# Create a numpy array containing marks for 100 students for 5 subjects.

In [20]:
marks=np.random.randint(0,100,size=(100,5))
print(marks.shape)
print(type(marks))
print(marks.dtype)

(100, 5)
<class 'numpy.ndarray'>
int64

In [25]:
maximum_in_5_sub=np.max(marks,0)
minimum_in_5_sub=np.min(marks,0)
print(f"The maximum marks in 5 subject are {maximum_in_5_sub} and the minimum marks in 5 subjects are {minimum_in_5_sub}")

The maximum marks in 5 subject are [98 98 99 98 99] and the minimum marks in 5 subjects are [0 0 1 1 1]

In [36]:
from scipy import stats

mean_of_each_student=np.mean(marks,axis=1)
median_of_each_student=np.median(marks,axis=1)
mode_of_each_student=stats.mode(marks,axis=1,keepdims=True)[0].flatten()
for i in range(len(mean_of_each_student)):
    print(f"{i+1} Mean:{mean_of_each_student[i]},Median:{median_of_each_student[i]},Mode:{mode_of_each_student[i]}")

1 Mean:48.0,Median:47.0,Mode:39
2 Mean:45.6,Median:74.0,Mode:74
3 Mean:68.6,Median:69.0,Mode:30
4 Mean:41.6,Median:37.0,Mode:11
5 Mean:54.0,Median:47.0,Mode:18
6 Mean:50.8,Median:49.0,Mode:49
7 Mean:47.6,Median:41.0,Mode:23
8 Mean:53.8,Median:52.0,Mode:15
9 Mean:59.6,Median:53.0,Mode:32
10 Mean:36.4,Median:23.0,Mode:7
11 Mean:42.0,Median:42.0,Mode:3
12 Mean:54.2,Median:40.0,Mode:19
13 Mean:63.6,Median:77.0,Mode:24
14 Mean:67.4,Median:70.0,Mode:40
15 Mean:43.0,Median:37.0,Mode:11
16 Mean:59.2,Median:60.0,Mode:1
17 Mean:49.2,Median:40.0,Mode:33
18 Mean:52.2,Median:78.0,Mode:1
19 Mean:71.0,Median:78.0,Mode:29
20 Mean:65.4,Median:88.0,Mode:21
21 Mean:59.2,Median:54.0,Mode:49
22 Mean:36.4,Median:21.0,Mode:6
23 Mean:43.0,Median:30.0,Mode:3
24 Mean:50.0,Median:41.0,Mode:11
25 Mean:45.2,Median:50.0,Mode:21
26 Mean:73.2,Median:84.0,Mode:25
27 Mean:49.0,Median:39.0,Mode:29
28 Mean:42.0,Median:35.0,Mode:16
29 Mean:66.4,Median:71.0,Mode:21
30 Mean:47.0,Median:54.0,Mode:16
31 Mean:53.0,Median:38.0,Mode:30
32 Mean:58.8,Median:61.0,Mode:25
33 Mean:60.6,Median:63.0,Mode:18
34 Mean:44.2,Median:20.0,Mode:7
35 Mean:51.4,Median:64.0,Mode:8
36 Mean:64.2,Median:85.0,Mode:21
37 Mean:52.6,Median:60.0,Mode:28
38 Mean:65.8,Median:68.0,Mode:44
39 Mean:50.6,Median:51.0,Mode:38
40 Mean:37.6,Median:35.0,Mode:1
41 Mean:63.2,Median:67.0,Mode:38
42 Mean:71.0,Median:92.0,Mode:24
43 Mean:51.2,Median:48.0,Mode:14
44 Mean:36.6,Median:23.0,Mode:7
45 Mean:42.6,Median:41.0,Mode:8
46 Mean:35.6,Median:29.0,Mode:29
47 Mean:63.2,Median:69.0,Mode:41
48 Mean:34.4,Median:33.0,Mode:2
49 Mean:51.8,Median:74.0,Mode:5
50 Mean:69.6,Median:69.0,Mode:69
51 Mean:23.0,Median:24.0,Mode:3
52 Mean:48.0,Median:31.0,Mode:5
53 Mean:56.0,Median:62.0,Mode:12
54 Mean:55.6,Median:78.0,Mode:1
55 Mean:60.6,Median:56.0,Mode:47
56 Mean:25.6,Median:15.0,Mode:3
57 Mean:63.8,Median:58.0,Mode:44
58 Mean:32.2,Median:39.0,Mode:9
59 Mean:47.2,Median:54.0,Mode:77
60 Mean:29.0,Median:18.0,Mode:10
61 Mean:46.6,Median:36.0,Mode:20
62 Mean:50.0,Median:51.0,Mode:6
63 Mean:48.6,Median:40.0,Mode:4
64 Mean:45.4,Median:34.0,Mode:4
65 Mean:45.6,Median:62.0,Mode:70
66 Mean:67.2,Median:73.0,Mode:8
67 Mean:43.8,Median:38.0,Mode:6
68 Mean:53.2,Median:61.0,Mode:14
69 Mean:54.4,Median:54.0,Mode:20
70 Mean:52.2,Median:60.0,Mode:5
71 Mean:39.0,Median:32.0,Mode:5
72 Mean:52.2,Median:56.0,Mode:23
73 Mean:47.4,Median:59.0,Mode:12
74 Mean:54.6,Median:69.0,Mode:3
75 Mean:46.8,Median:60.0,Mode:10
76 Mean:58.6,Median:60.0,Mode:32
77 Mean:39.6,Median:51.0,Mode:14
78 Mean:70.0,Median:66.0,Mode:55
79 Mean:37.8,Median:34.0,Mode:0
80 Mean:43.0,Median:38.0,Mode:11
81 Mean:28.0,Median:24.0,Mode:1
82 Mean:49.0,Median:27.0,Mode:12
83 Mean:54.0,Median:58.0,Mode:3
84 Mean:66.0,Median:75.0,Mode:17
85 Mean:58.8,Median:78.0,Mode:5
86 Mean:58.2,Median:61.0,Mode:41
87 Mean:63.8,Median:62.0,Mode:53
88 Mean:41.2,Median:23.0,Mode:8
89 Mean:45.4,Median:47.0,Mode:13
90 Mean:21.2,Median:26.0,Mode:0
91 Mean:61.2,Median:58.0,Mode:32
92 Mean:78.0,Median:82.0,Mode:82
93 Mean:30.2,Median:19.0,Mode:4
94 Mean:65.2,Median:60.0,Mode:37
95 Mean:52.8,Median:49.0,Mode:33
96 Mean:53.0,Median:47.0,Mode:35
97 Mean:55.0,Median:57.0,Mode:27
98 Mean:48.8,Median:51.0,Mode:18
99 Mean:36.8,Median:20.0,Mode:2
100 Mean:48.6,Median:62.0,Mode:16

In [46]:
pass_count=0
for i in range(100):
    if((np.min(marks,1)[i])>32):
        pass_count+=1
print(pass_count)

18

# Series Exploration

In [55]:
import pandas as pd
list_series=pd.Series([1,3,5,4])

In [56]:
dict_series=pd.Series({"Sun":25,"Mon":22,"Tues":11})

In [57]:
index_series=pd.Series([1,2,3,4],["Sun","Mon","Tues","Wed"])

In [63]:
print(index_series)
print(list_series)
print(dict_series)

Sun     1
Mon     2
Tues    3
Wed     4
dtype: int64
0    1
1    3
2    5
3    4
dtype: int64
Sun     25
Mon     22
Tues    11
dtype: int64

In [64]:
print(index_series.index)
print(list_series.index)
print(dict_series.index)

Index(['Sun', 'Mon', 'Tues', 'Wed'], dtype='object')
RangeIndex(start=0, stop=4, step=1)
Index(['Sun', 'Mon', 'Tues'], dtype='object')

In [65]:
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series([10, 20, 30, 40, 50])

# Addition
addition_result = series1 + series2
print("Addition Result:")
print(addition_result)

# Subtraction
subtraction_result = series1 - series2
print("\nSubtraction Result:")
print(subtraction_result)

# Multiplication
multiplication_result = series1 * series2
print("\nMultiplication Result:")
print(multiplication_result)

Addition Result:
0    11
1    22
2    33
3    44
4    55
dtype: int64

Subtraction Result:
0    -9
1   -18
2   -27
3   -36
4   -45
dtype: int64

Multiplication Result:
0     10
1     40
2     90
3    160
4    250
dtype: int64

In [69]:
series1[:-1]

0    1
1    2
2    3
3    4
dtype: int64

In [77]:
print(f"Mean:{series1.mean()} Sum:{series1.sum()} Min:{series1.min()} Max:{series1.max()} STD:{series1.std()}")

Mean:3.0 Sum:15 Min:1 Max:5 STD:1.5811388300841898

In [84]:
sorted1=list_series.sort_values()

In [85]:
print(sorted1)

0    1
1    3
3    4
2    5
dtype: int64

In [88]:
index_series.sort_index()

Mon     2
Sun     1
Tues    3
Wed     4
dtype: int64

# DataFrame Basics

In [89]:
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

In [91]:
df = pd.DataFrame([my_dict])
print(df)

   name  age      city
0  John   30  New York

In [98]:
array1=np.array([1,2,3,4,5,3,2])
df1=pd.DataFrame(array1,columns=['dataframe'])
print(df1)

   dataframe
0          1
1          2
2          3
3          4
4          5
5          3
6          2